
body {

	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;

	.header {
		width: $side-width;
		height: 100%;
		float: left;

		@include box-sizing(border-box);
	}

	.container {
		width: $container-width;
		float: left;

		@include box-sizing(border-box);

		.photo {
			position: absolute;
			top: 0; bottom: 0;
			left: $side-width; right: 0;
			overflow: auto;

			@include box-sizing(border-box);
		}
	}

	.footer {
		position: absolute;
		left: 0;
		bottom: 0;
		width: $side-width;
	}
}