
// Layout variables

$header-height: 135px;
$footer-height: 30px;

$container-max-width: 1024px;

body {

	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;

	.header {
		height: $header-height;
		max-height: $header-height;
		@include box-sizing(border-box);
	}

	.container {
		@include box-sizing(border-box);

		.photo {
			position: absolute;
			top: $header-height; bottom: $footer-height;
			left: 0; right: 0;
			overflow: auto;

			@include box-sizing(border-box);
		}
	}
	.footer {
		height: $footer-height;
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}