
// Layout variables

$header-height: 7.3em;
$footer-height: 2em;

$container-max-width: 1024px;

body {

	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;

	.header {
		height: $header-height;
		max-height: $header-height;
		@include box-sizing(border-box);
	}

	.container {
		@include box-sizing(border-box);

		.photo--list {
			max-width: $container-max-width;
			margin: 0 auto;
		}
	}
	.footer {
		height: $footer-height;
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}