<section class="photo--detail">

	<header class="detail--header">
		<h2 class="detail--title photo--title">
			<a class="detail--link__external" ng-href="{{photo.link}}" target="_blank">
				{{photo.title}}
			</a>
		</h2>
		<nav class="detail--menu">
			<ul>
				<li class="menu--item__back" ui-sref="photo.list">Back</li>
			</ul>
		</nav>
		<div class="detail--subheader">
			<a class="detail--link__external"  ng-href="{{photo.author.link}}" target="_blank">
				{{photo.author.name}}
			</a>
			<span class="detail--static">Published: {{photo.date | date : 'mediumDate' }} at {{ photo.date | date : 'shortTime'}}</span>
		</div>
	</header>

	<div class="detail--content">
		<div class="detail--image">
			<img ng-src="{{photo.imgsrc}}" alt="{{photo.title}}" />
		</div>
		<div ng-show="photo.description" class="detail--description" ng-bind-html="photo.description | rawHTML">
		</div>
		<div ng-hide="photo.description" class="detail--description">
			No description provided
		</div>
	</div>

	<footer class="detail--footer">
		<div ng-if="photo.tags.length" class="detail--tags">
			<p class="tag--title">Tags:</p>
			<span ng-repeat="tag in photo.tags" class="tag--name" ui-sref="photo.list({photoTag: tag})">{{tag}}</span>
		</div>
	</footer>

</section>