<section class="photo--detail">

	<header class="detail--header">
		<a class="detail--link__external" href="{{photo.link}}" target="_blank">
			<h2 class="detail--title photo--title">{{photo.title}}</h2>
		</a>
		<nav class="detail--menu">
			<ul>
				<li class="menu--item__back" ui-sref="photo.list">Back</li>
			</ul>
		</nav>
		<div class="detail--subheader">
			<a class="detail--link__external"  href="{{photo.author.link}}" target="_blank">
				{{photo.author.name}}
			</a>
			<span class="detail--static">{{photo.date}}</span>
		</div>
	</header>

	<div class="detail--content">
		<div class="detail--image">
			<img src="{{photo.imgsrc}}" alt="{{photo.title}}" />
		</div>
		<div class="detail--description">
			{{photo.description}}
		</div>
	</div>

	<footer class="detail--footer">
		<div class="detail--tags">
			Tags:
			<span ng-repeat="tag in photo.tags" class="tag--name">{{tag}}</span>
		</div>
	</footer>

</seciton>