<section class="photo--list">
	<ul>

		<li ng-repeat="photo in list" class="photo--item">

			<div class="item--image" ui-sref="photo.detail({photoId:photo.id})">
				<img ng-src="{{photo.imgsrc}}" alt="{{photo.title}}" />
			</div>

			<div class="item--detail">
				<h3 class="item--title" ui-sref="photo.detail({photoId:photo.id})">{{photo.title}}</h3>
				<a class="item--external item--author" ng-href="{{photo.author.link}}" target="_blank">{{photo.author.name}}</a>
				<span class="item--date">Published: {{photo.date | date : 'mediumDate' }} at {{ photo.date | date : 'shortTime'}}</span>
				<a class="item--external item--flickr" ng-href="{{photo.link}}" target="_blank">View on Flickr</a>
			</div>

		</li>

	</ul>
</section>