
.header {
	color: $primary-color;
	background-color: $black;
	@include box-shadow(inset 0 0 $line-height-default/4 $black-darker);

	position: relative;

	.header__title {
		padding: $line-height-default / 2;

		font-size: $font-size-large;
		line-height: $line-height-default;
		font-weight: $font-weight-light;
		text-align: left;

		cursor: pointer;

		@include transition(all 0.2s ease-in);
	}

	.header__search-box {
		position: absolute;
		bottom: $line-height-default;
		right: $line-height-default;

		width: auto;
		z-index: 2;

		@include transition(all 0.2s ease-in);

		input {
			min-width: 12em;
			width: 12em;
			@include appearance(none);
			
			background-color: $white;
			border: 0 none;
			@include border-radius(0.5em);
			@include box-shadow(inset 0 0 1em $black);

			padding: 0.6em;
			font-size: $font-size-extra-small;
			color: $black;
		}

		@media all and (max-width: 550px) {
			display: none;
		}
	}
}