
.header {
	color: $primary-color;
	background-color: $black;

	@media all and (min-width: 800px) {
		@include box-shadow(inset 0 0 $line-height-default/4 $black-darker);
		position: relative;
	}

	.header__title {
		padding: $line-height-default / 2;

		font-size: $font-size-large;
		line-height: $line-height-default;
		font-weight: $font-weight-light;
		text-align: left;

		@include box-shadow(inset 0 0 $line-height-default/4 $black-darker);

		@include transition(all 0.2s ease-in);

		@media all and (min-width: 800px) {
			@include box-shadow(none);
			font-size: $font-size-extra-large;
			display: inline-block;
		}
	}
}