
.header {
	
	color: $white;
	background-color: $black;
	@include box-shadow(0 0 5px #000);

	.header__title {
		padding: $line-height-default / 2 0;

		font-size: $font-size-extra-large;
		line-height: $line-height-extra-large;
		font-weight: $font-weight-light;
		text-align: center;
	}
}