
.nav {

	background-color: $primary-color;

	ul {
		clear: both;
		overflow: hidden;
	}

	.nav__item {
		width: 33.33%;
		float: left;

		a {
			display: block;

			padding: $line-height-default / 4 0;

			background-color: transparent;
			color: $white;

			font-weight: $font-weight-light;
			text-align: center;
			text-decoration: none;

			@include transition(all 0.2s ease-in);

			&:hover {
				background-color: $white;
				color: $primary-color;
			}
		}
	}
}