
.nav {
	height: $nav-height;
	max-height: $nav-height;

	background-color: $white;

	ul {
		clear: both;
		overflow: hidden;
	}

	.nav__item {
		width: 33.33%;
		float: left;

		a {
			height: $nav-height;
			display: block;

			background-color: transparent;
			color: $black;

			font-weight: $font-weight-light;
			text-align: center;

			&:hover {
				background-color: $black;
				color: $white;
			}
		}
	}
}