
// Variables

$detail-box-min-height: 85px;

.photo--list, .photo--detail {
	position: absolute;
	top: $header-height; bottom: $footer-height;
	left: 0; right: 0;
	overflow: auto;

	@include box-sizing(border-box);
}

.photo--list {

	.photo--item {
		position: relative;

		.item--image img {
			display: block;
			width: 100%;
			cursor: pointer;
		}

		.item--detail {
			min-height: $detail-box-min-height;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;

			background-color: rgba(255, 255, 255, 0.5);
			padding: $line-height-default / 4;

			@media all and (min-width: 800px) {
				min-height: 0;
				height: auto;
			}

			.item--title {
				width: 100%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

				cursor: pointer;
			}

			.item--date, .item--external {
				margin: 0;
			}

			.item--date {
				font-size: 2vh;
				line-height: 2vh;

				@media all and (min-width: 800px) {
					font-size: $font-size-small;
					line-height: $line-height-small;
				}
			}

			.item--external {
				position: absolute;
				bottom: $line-height-default / 4;
				left: $line-height-default / 4;
				width: 10em;

				text-align: center;
				font-size: $font-size-small;
				line-height: $line-height-small;

				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			
				padding: $line-height-default / 4;
				background-color: $black;

				&.item--flickr {
					left: 10em + $line-height-default / 2;
				}

				@media all and (min-width: 800px) {
					position: static;
					width: auto;
				}
			}
		}
	}
}

.photo--detail {

	.detail--header {
		border-bottom: 5px solid $black;

		margin: $line-height-default;
		padding-bottom: $line-height-default / 2;

		position: relative;

		> .detail--link__external {
			display: block;
			margin-right: 3em;
		}

		.detail--title {
			background-color: $black;

			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.detail--menu .menu--item__back {
			position: absolute;
			width: 3em;
			height: $line-height-large;
			top: 0;
			right: 0;
			color: $white;
			background-color: $black;
			text-align: center;
		}
	}

	.detail--content {
		overflow: hidden;
		clear: both;

		@media all and (min-width: 800px) {
			margin: $line-height-default;
		}

		.detail--image {
			width: auto;
			float: none;

			img { width: 100%; }

			@media all and (min-width: 800px) {
				width: 35%;
				float: left;
			}
		}

		.detail--description {
			margin: $line-height-default;
			width: auto;
			float: none;

			@media all and (min-width: 800px) {
				margin: 0;
				margin-left: 4%;
				width: 61%;
				float: left;
			}
		}
	}

	.detail--footer {
		margin: $line-height-default;
		width: auto;
		clear: both;
		overflow: hidden;

		.detail--tags .tag--name {
			display: block;
			margin: 0 $line-height-default / 4;
			float: left;
		}
	}

}