
// Variables

$detail-box-min-height: 3.8em;

.photo--list, .photo--detail {
	position: absolute;
	top: $header-height;
	bottom: $footer-height;
	left: 0; right: 0;
	overflow: auto;

	@include box-sizing(border-box);
}

.photo--list  ul {
	max-width: $container-max-width;
	margin: 0 auto;

	.photo--item {
		position: relative;

		.item--image img {
			display: block;
			width: 100%;
			cursor: pointer;
		}

		.item--detail {
			min-height: $detail-box-min-height;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;

			background-color: transparentize($secondary-color, 0.4);
			padding: $line-height-default / 4;

			@media all and (min-width: $media-desktop) {
				min-height: 0;
				height: auto;
			}

			.item--title {
				width: 100%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

				cursor: pointer;
				color: $black;
				background-color: transparent;

				font-size: $font-size-medium;

				@include transition(all 0.2s ease-in);

				&:hover {
					color: $primary-color;
					background-color: $secondary-color;
				}
			}

			.item--date, .item--external {
				margin: 0;
			}

			.item--date {
				font-size: $font-size-extra-small;
			}

			.item--external {
				position: absolute;
				bottom: $line-height-default / 4;
				left: $line-height-default / 4;
				width: 10em;

				text-align: center;
				text-decoration: none;
				font-size: $font-size-extra-small;

				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			
				padding: $line-height-default / 4;
				background-color: $black;
				color: $white;

				&.item--flickr {
					left: 10em + $line-height-default / 2;
				}

				@media all and (min-width: $media-desktop) {
					position: static;
					width: auto;
				}
			}
		}

		&:hover {
			.item--image {
				@include box-shadow(inset 0 0 $line-height-default/2 $black-darker);
			}

			.item--detail {
				background-color: $secondary-color;

				.item--title {
					color: $primary-color;
				}

				.item--external {
					background-color: $primary-color;
					@include transition (all 0.2s ease-in);

					&:hover {
						background-color: transparentize($primary-color, 0.5);
					}
				}
			}
		}
	}
}

.photo--detail {
	background-color: $secondary-color;

	.detail--header {
		margin: $line-height-default;
		padding-bottom: $line-height-default / 2;

		position: relative;

		> .detail--link__external {
			display: block;
			margin-right: 3em;

			text-decoration: none;
		}

		.detail--title .detail--link__external {
			display: block;
			margin-right: $line-height-default;
			background-color: transparent;
			color: $primary-color;

			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			text-decoration: none;
			font-size: $font-size-small;
			@include transition (all 0.2s ease-in);

			&:hover {
				color: $black;
			}

			@media all and (min-width: $media-desktop) {
				font-size: $font-size-medium;
			}
		}

		.detail--static,
		.detail--menu .menu--item__back,
		.detail--subheader .detail--link__external {
			font-size: $font-size-extra-small;
			@include transition(all 0.2s ease-in);

			@media all and (min-width: $media-desktop) {
				font-size: $font-size-small;
			}
		}

		.detail--menu .menu--item__back {
			position: absolute;
			width: 3em;
			top: 0;
			right: 0;
			color: $secondary-color;
			background-color: $primary-color;
			text-align: center;
			cursor: pointer;

			margin-top: $line-height-default / 4;

			&:hover {
				background-color: $black;
			}
		}

		.detail--subheader .detail--link__external {
			color: $primary-color;
			margin-right: $line-height-default / 4;

			&:hover {
				color: $black;
			}
		}
	}

	.detail--content {
		overflow: hidden;
		clear: both;

		@media all and (min-width: $media-desktop) {
			margin: $line-height-default;
		}

		.detail--image {
			width: auto;
			float: none;

			img { width: 100%; }

			@media all and (min-width: $media-desktop) {
				width: 35%;
				float: left;
			}
		}

		.detail--description {
			padding: $line-height-default;
			width: auto;
			float: none;

			font-size: $font-size-extra-small;
			background-color: transparentize($black, 0.800px);

			@include box-sizing(border-box);

			a {
				color: $black;
				&:hover {
					color: $primary-color;
				}
			}

			@media all and (min-width: $media-desktop) {
				margin: 0;
				margin-left: 4%;
				width: 61%;
				float: left;

				font-size: $font-size-small;
			}
		}
	}

	.detail--footer {
		margin: $line-height-default;
		width: auto;
		clear: both;
		overflow: hidden;

		font-size: $font-size-extra-small;

		.detail--tags .tag--title {
			margin-left: 0; margin-right: 0;
		}

		.detail--tags .tag--name {
			display: block;
			margin: 0 $line-height-default / 4;
			float: left;
			cursor: pointer;

			&:hover {
				color: $primary-color;
			}
		}

		@media all and (min-width: $media-desktop) {
			font-size: $font-size-small;
		}
	}

}